/* News */

.nav_title {
	font-size: 1.5em;
	margin: 0 0 19px 0;
	width:100%;
}
.nav-links {
	width:100%;
	a {
		background-color:$color1;
		color:#fff;
		text-decoration: none;
		padding: 10px 15px 14px;
		display: inline-block;
		margin: 0 5px 5px 0;
	} 
}

.cat-button {
	background: $color2;
	color: white;
	border: 0;
	padding: 7px 14px;
	border-radius: 4px;
}

// News & Case Studies
.post-img {
	img { width: 100%; display: block; }
  }
  .post-content {
	@include breakpoint(m){
	  float: left;
	  width: 60%;
	}
  }