/* Sidebar */

.widget {
  background: $white;
  padding: 20px;
margin-bottom: 20px;
a { 
  text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.widget__title {
  color: $color1;
  font-size: 1.2em;
  font-weight: 600;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}